body {
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height: 100vh;
    background: rgb(14, 196, 165);
    color: #50da1a;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.holder {
    text-align: center;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50px;
    font-weight: 500;
}

.holder.headline h1 {
    padding: 5px;
    background-color: rgb(49, 49, 49);
    border-radius: 50px;
}

.entry {
    background: rgba(43, 85, 175, 0.4);
}

#entryHolder {
    background-color: rgb(49, 49, 49);
    border-radius: 50px;
}

#date {
    color: #ccc;
}

#temp {
    color: #f00;
}

#content {
    color: #32a107;
}

.headline {
    background-color: rgba(0, 0, 0, 0);
}

.title {
    color: #fff;
}

#zip {
    text-align: center;
}


/*  Basic Styling To Override Default For Basic HTML Elements */

label {
    display: block;
    font-size: 27px;
}

input {
    display: block;
    height: 60px;
    width: 320px;
    background: #22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button {
    width: 200px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    border-radius: 50px;
}

h1 {
    font-size: 36px;
}

textarea {
    background: #22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}


/* Reset style for HTML element on active to have no border*/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/* Style for Placeholder Text*/

::placeholder {
    /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}